body
{
    margin: 0;
}

.box-shadow{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    font-weight: 700;
    box-shadow: 5px 10px 40px grey;
    padding-left: 5px;
    background-image: linear-gradient(45deg ,#3f2c30,#ff7b25);
    color: white;
    border-radius: 5px;
    padding: 10px , 20px;
    width: 80%;
}
.Dream h1 , #experience h1
{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:  #6b5b95;
}

h2
{
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ff7b25;
}
p{
    font-family: 'Acme', sans-serif;
    font-family: 'Amiri', serif;
    font-size: 22px;
    text-align: justify;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2px;
    float: left;
    margin-right: 2%;
}
.half-width img{
    width: 100%;
    margin-left: 10%;
    padding-left: 2%;
    margin-top: 5%;
}
span
{
    color: #d64161;
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section
{
    height: 650px;
    padding-bottom: 5%;
}

.button-link{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    background-image: linear-gradient(90deg,lightsalmon,#d64161);
    padding : 8px 20px;
    border-radius: 5px;
    color: white;
    
}

#Dream
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#full-stack
{
    border-left: 6px solid;
    border-image: linear-gradient(180deg,#d64161,#ff7b25);
    border-image-slice: 1;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    padding : 15px;
    background-color: #fff;
}

#baby-web
{
    box-shadow: 5px 10px 40px grey;
    border-radius: 10px;
    padding : 15px;
    border-left: 6px solid;
    border-image: linear-gradient(#491bbe,cyan);
    border-image-slice: 1;
}

#full-stack , #baby-web
{
    height: 400px;
    margin-top: 2%;
}
#experience
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{text-align: center;}



